<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer list</title>
</head>
<body>

<!-- Bottone che riporta alla home -->
<a href="/customers">
    <button type="button">Home</button>
</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customersArraylist}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.surname}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>