<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head><title>Customer list</title></head>

<body><h1>Welcome!</h1><img th:src="@{/images/welcome.png}"/>

<form method="POST" th:action="@{/customers/insert}" th:object="${customer}">

    <div><label for="id">ID:</label> <input type="text" id="id" th:field="*{id}"
                                                 placeholder="Inserisci l'ID" required/></div>

    <div><label for="name">Nome:</label> <input type="text" id="name" th:field="*{name}"
                                                   placeholder="Inserisci il nome" required/></div>

    <div><label for="surname">Cognome:</label> <input type="text" id="surname" th:field="*{surname}"
                                                    placeholder="Inserisci il cognome" required/></div>
    <div>
        <button type="submit">Salva Cliente</button>
    </div>

</form>
</body>
</html>